{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block headTitle %}Site dashboard / {{ parent() }}{% endblock %}
{% block title %}Site dashboard / {{ parent() }}{% endblock %}

{% block header %}
    {% set active = 'user' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12"><h2>Users management</h2></div>
        </div>
        <div class="row">
            <div class="span12">
                {% include "ReaderAdminBundle:Widget:userList.html.twig" with {'table': true} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/readeradmin/js/jquery.simplePagination.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var limit = 10;
            getUsers( 1 );

            {% if usersCount %}
            $('.usersPagination').pagination({
                items: {{ usersCount }},
                itemsOnPage: limit,
                cssStyle: 'pagination pagination-centered',
                onPageClick: function(pageNumber) {
                    getUsers( pageNumber );
                }
            });
            {% endif %}

            function getUsers( page ) {
                $.ajax({
                    url: '/admin/user/list/' + page + '/' + limit,
                    success: function(data) {
                        if ( data.success != false )
                        {
                            $('#usersList').html( data.content );
                        }
                    }
                });
            }

        });
    </script>
{% endblock %}