{% spaceless %}
    {% autoescape 'js' %}
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('reader_admin_user_view', { 'id': user.id })|raw }}">{{ user.email|raw }}</a>
                </td>
                <td>
                    {% for role in user.roles %}
                        {{ role|trans()|raw }}{% if not loop.last %},&nbsp;{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ user.created|localizeddate('medium')|raw }}
                </td>
                <td>
                    <a href="{{ path('reader_admin_user_update', { 'id' : user.id })|raw }}" class="btn btn-small"><i class="icon-pencil"></i></a>&nbsp;
                    <a href="{{ path('reader_admin_user_delete', { 'id' : user.id })|raw }}" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endautoescape %}
{% endspaceless %}