{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block header %}
    {% set active = 'site' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:siteDetails.html.twig" with {'table': true} %}
            </div>
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:siteStories.html.twig" with {'table': false} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/readeradmin/js/jquery.simplePagination.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var limit = 10;
            getStories( 1, 0);

            {% if storiesCount %}
            $('.storiesPagination').pagination({
                items: {{ storiesCount }},
                itemsOnPage: limit,
                cssStyle: 'pagination pagination-centered',
                onPageClick: function(pageNumber) {
                    getStories( pageNumber, 0 );
                }
            });
            {% endif %}

            var startPage = 1;

            $('#grabStories').click( function(e){
                e.preventDefault();
                grabStories( startPage );
            });


            $('#stories').on( 'click', '.delete-story', function(e) {
                e.preventDefault();
                var $t = $( this );
                $t.addClass('disabled');
                $.ajax({
                    url: '/story/delete/' + $t.attr('data-target'),
                    success: function(data) {
                        if ( data.success )
                        {
                            $t.parent('.story').slideUp('200', function(){
                                getStories( 1, 1 );
                            })
                        }
                    }
                });
            });

            $('#stories').on( 'click', '.imageModal', function(e) {
                var modal = $('#imageModal');
                var $t = $(this);
                modal.find('.modal-body').html( $t.html() + $( '#' + $t.attr('data-content')).html() );
            });

            function grabStories( page ) {
                $('#grabStories i').toggleClass('icon-spin');

                $.pnotify({
                    text: 'Grabbing page #' + page,
                    type: 'info',
                    icon: 'icon-refresh',
                    opacity: .8,
                    delay: 3000,
                    history: false
                });

                $.ajax({
                    url: '/site/grab/{{ site.id }}/' + page,
                    success: function(data) {
                        if ( data.success == true )
                        {
                            $('#grabbingReport').append( '<strong>' + data.count + ' stories</srong> grabbed on page #' + page + '<br>');
                            $.pnotify({
                                text: data.count + ' stories grabbed on page #' + page,
                                type: 'success',
                                icon: 'icon-ok',
                                opacity: .8,
                                delay: 3000,
                                history: false
                            });
                            var nextPage = page + 1;
                            if ( nextPage < startPage + 2 )
                            {
                                grabStories( nextPage );
                            }
                            else
                            {
                                getStories( 1, 1 );
                                startPage = nextPage;
                            }
                        }
                        else
                        {
                            $.pnotify({
                                text: 'Can\'t grab stories on page #' + page,
                                type: 'error',
                                icon: 'icon-warning-sign',
                                opacity: .8,
                                delay: 3000
                            });
                        }
                    },
                    complete: function() {
                        $('#grabStories i').toggleClass('icon-spin');
                    }
                });
            }

            function getStories( page, returnCount ) {
                $.ajax({
                    url: '/site/stories/{{ site.id }}/' + page + '/' + returnCount + '/' + limit,
                    success: function(data) {
                        if ( data.success != false )
                        {
                            $('#stories').html( data.content );
                            if ( data.count )
                            {
                                $('#storiesCount').html('('+ data.count +')');
                                $('.storiesPagination').html('');
                                $('.storiesPagination').pagination({
                                    items: data.count,
                                    itemsOnPage: 10,
                                    cssStyle: 'pagination pagination-centered',
                                    onPageClick: function(pageNumber) {
                                        getStories( pageNumber, 0 );
                                    }
                                });
                            }
                        }
                    }
                });
            }

        });
    </script>
{% endblock %}